html {
  background-color: green;
}

* {
  box-sizing: border-box;
}

body {
  width: 320px;
  min-width: 320px;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: #000;
}

body,
h1, h2, h3, h4, h5, h6,
p,
dl,
dt,
dd,
button,
ul,
li,
fieldset,
img {
  margin: 0;
  padding: 0;
}
