* {
  box-sizing: border-box;
}

body {
  width: 320px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6,
p,
dt,
dd,
button,
ul,
li {
  margin: 0;
  padding: 0;
}

