@media #{$mobile} {
  .about {
    padding-top: 27px;
    &::before {
    }
  }

  .about__title {
    @include title();
    @include padding();
    padding-bottom: 3px;
  }

  .about__list {
    @include padding;
    list-style-type: none;
  }

  .about__item {
    position: relative;
    padding-top: 83px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    svg {
      position: absolute;
      left: 0;
      path {
        fill: #63d1bb;
      }
    }
    &:nth-child(1) {
      svg {
        top: 29px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      svg {
        top: 30px;
      }
    }
    &:nth-child(3) {
      svg {
        top: 35px;
        left: 7px;
      }
    }
    &:nth-child(4) {
      svg {
        top: 32px;
        left: 4px;
      }
    }
    &:nth-child(5) {
      svg {
        top: 33px;
        left: -5px;
      }
    }
    &:nth-child(6) {
      svg {
        top: 31px;
        left: 3px;
      }
    }
  }
}

