.button {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: #444444;
  background-color: transparent;
  border: 2px solid #444444;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
