@media #{$mobile} {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 29px;
    margin-top: 30px;
    border: 1px solid  #ececec;
    @include clear();
  }

  .catalog-item--video .catalog-item__description {
    padding-bottom: 2px;
    &::after {
      display: none;
    }
  }

  .catalog-item__title {
    @include padding();
    position: relative;
    padding-top: 27px;
    padding-bottom: 8px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    &--video {
      padding-left: 89px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .catalog-item__description {
    @include padding();
    position: relative;
    width: 100%;
    padding-bottom: 23px;
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 24px;
    color: #444444;
    &::before {
      @include pseudo();
      right: 30px;
      bottom: 0;
      height: 1px;
      width: 50%;
      background-color: #ececec;
    }
    &::after {
      @include pseudo();
      left: 30px;
      bottom: 0;
      height: 1px;
      width: 50%;
      background-color: #ececec;
    }
  }

  .catalog-item__img {
    width: 100%;
  }

  .catalog-item__price {
    @include padding();
    font-size: 15px;
    font-weight: 700;
  }

  .catalog-item__button {
    margin-left: 30px;
    margin-right: 30px;
  }

  .catalog-item__button:not(.catalog-item__button--video) {
    margin-left: auto;
    padding: 0;
    width: 30px;
    height: 20px;
    text-align: right;
    font-size: 0;
    border: 0 solid transparent;
  }

  .catalog-item__video {
    width: 100%;
    margin-bottom: 27px;
    background-color: #8eb2a6;
    background-image: url(../../img/video-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media #{$tablet} {
}
