.contacts__title {
  @include padding();
  padding-top: 50px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__properties {
  @include padding();
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  dt {
    width: 25%;
  }
  dd {
    width: 75%;
  }
}

.contacts__map {
  height: 458px;
  font-size: 0;
}

.contacts__feedback {
  @include padding();
}

.contacts__mail {
  position: relative;
  cursor: pointer;
  &::after {
    @include pseudo();
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
  }
  &:hover {
    color: #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}
