.icon--interior,
.icon--toys {
  position: absolute;
  top: 50%;
  right: $padding-mobile;
  transform: translateY(-50%);
  opacity: 0.5;
  path {
    fill: #149080;
  }
}

.icon--interior,
.icon--toys {

}

.icon--interior {
  right: 36px;
}

.icon--toys {
}
