.page-header {
  background-color: red;
}

.page-header__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  min-height: 80px;
  padding: 10px 30px;
  background-color: gold;
}

.page-header__menu {
  display: none;
}

.menu__toggle:checked ~ .page-header__menu {
  display: block;
}
