.page-footer {
  margin-top: 39px;
  background-color: #f1f1f1;
}

.page-footer__social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  @include padding();
  height: 80px;
  font-size: 0;
  &::after {
    @include pseudo();
    bottom: 0;
    left: 30px;
    width: 50%;
    height: 1px;
    background-color: #e5e5e5;
  }
  &::before {
    @include pseudo();
    bottom: 0;
    right: 30px;
    width: 50%;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  @include padding();
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  a {
    font-size: 0;
    margin-left: 20px;
  }
  span {
    padding-bottom: 5px;
    padding-right: 11px;
  }
  svg {
    fill: #63d1bb;
  }
}
